/* @media (min-width: 481px) {
  .schedule-wrapper {
    margin: 0 25%;
  }
} */

.mrg_tp {
  margin-top: 70px !important;
}

.clr{
  color: #e3165b;
}

.marn-lft{
  margin-left: 15px;
}

.mrg_div{
  margin-top: 20px;
}
.mrg_div1{
  margin-top: 10px;
}
